<!DOCTYPE html>
<html>
<title>NIMS HOTEL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" href="https://png.pngtree.com/png-clipart/20191123/original/pngtree-hotel-building-vector-illustration-with-simple-design-hotel-icon-png-image_5194507.jpg"/>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>NIMS</b> HOTEL</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/src/app/app.component.html" class="w3-bar-item w3-button">Home</a>
      <a href="#about" class="w3-bar-item w3-button">Rooms</a>
      <a href="#contact" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Contact Section -->
  <br><br>
  <div class="w3-container w3-padding-32" id="contact">
    <div class="w3-content w3-padding" style="max-width:1300px">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">ROOM DETAILS</h1>
    <div class="w3-container w3-card-4 w3-light-grey"><br>
        <div class="w3-row w3-border">
            <div class="w3-half w3-container w3-blue w3-border">
              <h5>w3-half</h5>  
              <p>The w3-half class uses half (50%) of the screen window.</p>
              <p>On small screens (max 600 pixels) it automatically resizes to full screen width.</p>
            </div>
            <div class="w3-half w3-container">
              <h5>w3-half</h5>  
            </div>
          </div>
      <br><br>
    </div>
    </div>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->

</body>
</html>
