<!DOCTYPE html>
<html>
<title>NIMS HOTEL</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon"
  href="https://png.pngtree.com/png-clipart/20191123/original/pngtree-hotel-building-vector-illustration-with-simple-design-hotel-icon-png-image_5194507.jpg" />

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>NIMS</b> HOTEL</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a routerLink="/" class="w3-bar-item w3-button">Home</a>
        <!-- <a href="/src/app/app.component.html" class="w3-bar-item w3-button">Home</a> -->
      </div>
    </div>
  </div>


  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Contact Section -->
    <br><br>
    <div class="w3-container w3-padding-32" id="contact">
      <div class="w3-content w3-padding " style="max-width:1200px">
        <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">BOOKING</h1>
        <div class="w3-container w3-card-4 w3-light-grey" target="_blank"><br>

          <div class="w3-row w3-border">
            <div class="w3-content w3-display-container w3-center">
              <img class="mySlides" src="img_snowtops.jpg" style="width:100%">
              <img class="mySlides" src="img_lights.jpg" style="width:100%">
              <img class="mySlides" src="img_mountains.jpg" style="width:100%">
              <img class="mySlides" src="img_forest.jpg" style="width:100%">

              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>

            <div class="w3-half w3-container w3-blue w3-border">
              <h5>w3-half</h5>
              <p>The w3-half class uses half (50%) of the screen window.</p>
              <p>On small screens (max 600 pixels) it automatically resizes to full screen width.</p>
            </div>
            <div class="w3-half w3-container">
              <h5>w3-half</h5>
            </div>
          </div>

          <label>Username :</label><br>
          <input class="w3-input w3-border" type="text" placeholder="Username" required name="username"><br>

          <label>Password :</label><br>
          <input class="w3-input w3-border" type="text" placeholder="Password" required name="password"><br>


          <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SUBMIT</button>
          <div class="w-full text-center p-t-55">
            <span class="txt2">
              Not a member?
            </span>

            <a routerLink="/signup" class="txt2 bo1">
              Sign up now
            </a>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }
  </script>


  <!-- End page content -->
</body>

</html>
