<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<body>
    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a routerLink="/adminmain" class="w3-button w3-block">Home</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="/adminmanagebooking" class="w3-button w3-block">Booking</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="/adminmanagecustomer" class="w3-button w3-block">Customer</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="#" class="w3-button w3-block">Sign Out</a>
            </div>
        </div>
    </div>
    <br /><br />

    <!-- Content -->
    <div class="w3-content" style="max-width: 1100px; margin-top: 80px; margin-bottom: 80px">

        <!-- Grid -->
        <div class="w3-row w3-container">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Our Team</span>
            </div>
            <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                <h3>Hasan Mubarak</h3>
                <h5>Angular Developer</h5>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                    sodales pellentesque elementum.
                </p>
            </div>

            <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
                <h3>Farizul Imran</h3>
                <h5>Back-End Developer</h5>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                    sodales pellentesque elementum.
                </p>
            </div>

            <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
                <h3>Siti Hamidah</h3>
                <h5>Front-End Developer</h5>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                    sodales pellentesque elementum.
                </p>
            </div>

            <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
                <h3>Nur Atiqah</h3>
                <h5>Front-End Developer</h5>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                    sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

</body>

</html>
