<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body style="background-color:rgb(129, 153, 156);">

    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a routerLink="/adminmain" class="w3-button w3-block">Home</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="/adminmanagebooking" class="w3-button w3-block">Booking</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="/adminmanagecustomer" class="w3-button w3-block">Customer</a>
            </div>
            <div class="w3-col s3">
                <a routerLink="#" class="w3-button w3-block">Sign Out</a>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;">

        <!-- Slideshow -->
        <br><br><br><br>
        <div class="w3-container">
            <div class="w3-display-container mySlides">
                <img src="https://www.oneandonlyresorts.com/scropper/-/screen/1920/oneandonly/desaru-coast/experiences/beaches-and-pools/new/oodc-experiences-pool-sunbeds.jpg" style="width:100%">
                <div class="w3-display-topleft w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="https://www.oneandonlyresorts.com/scropper/-/screen/1920/oneandonly/desaru-coast/resort/oodc-aerial-view-1.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="https://www.oneandonlyresorts.com/scropper/-/screen/992/oneandonly/desaru-coast/accommodation/villa-one/oodc-accommodation-villa-one-pool.jpg" style="width:100%">
                <div class="w3-display-topright w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
                </div>
            </div>

            <!-- Slideshow next/previous buttons -->
            <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i>
                </div>
                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i>
                </div>

                <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(1)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(2)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white"
                        onclick="currentDiv(3)"></span>
                </div>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row w3-container">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
            </div>
            <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                <h3>Design</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
                <h3>Branding</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
                <h3>Consultation</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
                <h3>Promises</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
        </div>




    </div>




    <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>

</body>

</html>