<!DOCTYPE html>
<html>
<title>NIMS HOTEL</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon"
  href="https://png.pngtree.com/png-clipart/20191123/original/pngtree-hotel-building-vector-illustration-with-simple-design-hotel-icon-png-image_5194507.jpg" />

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>NIMS</b> HOTEL</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a routerLink="/" class="w3-bar-item w3-button">Home</a>
        <!-- <a href="/src/app/app.component.html" class="w3-bar-item w3-button">Home</a> -->
      </div>
    </div>
  </div>


  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Contact Section -->
    <br><br>
    <div class="w3-container w3-padding-32" id="contact">
      <div class="w3-content w3-padding " style="max-width:700px">
        <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">BOOKING</h1>
        <form class="w3-container w3-card-4 w3-light-grey"><br>
          <label>Room Name :</label>
          <select class="w3-select w3-border" name="room_name">
            <option value="Suite King">Suite King</option>
            <option value="Ocean Suite">Ocean Suite</option>
            <option value="Super Deluxe">Super Deluxe</option>
            <option value="Deluxe">Deluxe</option>
          </select><br><br>

          <label>Chek-In Date :</label>
          <input class="w3-input w3-border" type="date" prequired name="checkin_date"><br>

          <label>Start Date :</label><br>
          <input class="w3-input w3-border" type="date"  required name="	checkout_date"><br>

          <label>Payment Type :</label><br>
          <input class="w3-input w3-border" type="text" placeholder="Phone" required name="payment_type"><br>
          <select class="w3-select w3-border" name="room_name">
            <option value="Suite King">Credit Card</option>
            <option value="Ocean Suite">Online Banking</option>
            <option value="Super Deluxe">Cash</option>
          </select><br><br>

          <label>Amount :</label><br>
          <input class="w3-input w3-border" type="text" placeholder="Amount" required name="amount"><br>

          <div class="w3-center">
            <button class="w3-button w3-black w3-section" type="submit">
              <i class="fa fa-paper-plane"></i> SUBMIT</button><br>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }
  </script>


  <!-- End page content -->
</body>

</html>
