<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>NIMS</b> HOTEL</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Home</a>
      <a href="#about" class="w3-bar-item w3-button">Rooms</a>
      <a href="#contact" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <div class="w3-content w3-padding" style="max-width:500px">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Edit Profile</h3>
    <form class="w3-container w3-card-4 w3-light-grey" action="/action_page.php" target="_blank"><br>
      <label>Name :</label>
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"><br>

      <label>Email :</label><br>
      <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"><br>

      <label>Phone:</label><br>
      <input class="w3-input w3-border" type="text" placeholder="Phone" required name="Phone"><br>

      <label>Username :</label><br>
      <input class="w3-input w3-border" type="text" placeholder="Username" required name="Username"><br>

      <label>Password :</label><br>
      <input class="w3-input w3-border" type="text" placeholder="Password" required name="Password"><br>      

      <label>Gender :</label><br>
      <select class="w3-select w3-border" name="Gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select><br><br>
      
      <label>User Type :</label><br>
      <select class="w3-select w3-border" name="User" value="Choose your option">
        <option value="Customer">Customer</option>
        <option value="Staff">Staff</option>
      </select><br><br>

      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> UPDATE</button>
    </form>
    </div>
  </div>
  
<!-- End page content -->
</div>


<!-- Footer -->

</body>
</html>
