<!DOCTYPE html>
<html>
<title>NIMS HOTEL</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="icon"
  href="https://png.pngtree.com/png-clipart/20191123/original/pngtree-hotel-building-vector-illustration-with-simple-design-hotel-icon-png-image_5194507.jpg" />

<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a routerLink="/main" class="w3-bar-item w3-button"><b>NIMS</b> HOTEL</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <div *ngIf="!user; else elseBlock">
          <a href="#home" class="w3-bar-item w3-button">Home</a>
          <a routerLink="/signup" class="w3-bar-item w3-button">Sign Up</a>
          <a routerLink="/signin" class="w3-bar-item w3-button">Sign In</a>
        </div>
        <ng-template #elseBlock>
          <a href="#home" class="w3-bar-item w3-button">Home</a>
          <a routerLink="/booking-history" class="w3-bar-item w3-button">My Booking</a>
          <a href="/profile" class="w3-bar-item w3-button">Profile</a>
          <a routerLink="/signin" (click)="onSignOut()" class="w3-bar-item w3-button">Sign Out</a>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width: 1500px" id="home">
    <img class="w3-image" src="https://www.oneandonlyresorts.com/-/media/C85BB33080204166AABD98855B3B061A.jpg"
      alt="Architecture" width="1500" height="800" />
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white">
        <span class="w3-padding w3-black w3-opacity-min"><b>NIMS HOTEL</b></span>
        <span class="w3-hide-small w3-text-light-grey"></span>
      </h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width: 1564px">
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="Specialties">
      <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">
        SPECIALTIES
      </h1>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Front View</div>
          <img src="https://i.ibb.co/7g3KJ0r/OO-1.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Room View</div>
          <img src="https://i.ibb.co/RHJs0CM/OO-2.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Main View</div>
          <img src="https://i.ibb.co/b6NqnDZ/OO-3.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Main Pool</div>
          <img src="https://i.ibb.co/R027QVw/OO-4.jpg" alt="OO-4" alt="House" style="width: 100%" />
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Coast View</div>
          <img src="https://i.ibb.co/9sThnbg/OO-5.jpg" alt="OO-5" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Personal Pool
          </div>
          <img src="https://i.ibb.co/hWzQgBD/OO-7.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Leisure Garden
          </div>
          <img src="https://i.ibb.co/rc53zYg/OO-8.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Spa House</div>
          <img src="https://i.ibb.co/CPFQ6cW/OO-9.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center" id="about">
      <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">
        ABOUT
      </h1>
      <h3>YOUR ESCAPE AWAITS</h3>
      <p>
        At home in the world's most inspiring locations, hand-picked for exceptional beauty and unique cultural
        charm,<br>
        NIMS HOTEL are havens of outstanding style and service that place you in the heart of<br>
        every fascinating environment. With incredible tailored experiences across beach, nature, and urban
        locations,<br>
        and spectacular spaces to simply 'be'; unforgettable moments begin at NIMS HOTEL.<br>
      </p>
    </div>

    <div class="w3-container w3-padding-32" id="rooms">
      <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">
        ROOMS
      </h1>
      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom" *ngFor="let room of rooms">
          <img src="{{ room.room_image_1 }}" alt="House" style="width: 100%" />
          <h2>{{ room.room_name }}</h2>
          <p class="w3-opacity">Your Tropical Sanctuary</p>
          <p>
            {{ room.room_description }}
          </p>
          <p>
            <button class="w3-button w3-light-grey w3-block" (click)="onClickBook(room)">Book</button>
          </p>
        </div>

      </div>

      <!-- Contact Section -->
      <div class="w3-container w3-padding-32 w3-center" id="contact">
        <h1 class="
              w3-border-bottom w3-border-light-grey w3-padding-16 w3-center
            ">
          CONTACT
        </h1>
        <p>NIMS HOTEL</p>
        <p>Desaru Coast Bandar Penawar, 90, 81930, Johor</p>
        <p>inquiry@nims.com</p>
        <p>+607 654321</p>
      </div>

      <!-- End page content -->
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>
      All Rights Reserved © 2021
      <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
        class="w3-hover-text-grey">MAGIC-TECH</a>
    </p>
  </footer>
</body>

</html>
