<!-- <!DOCTYPE html>
<html>

<head>
    <title>My Booking</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="icon" href="hotel_image/baseline_location_city_black_18dp.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style type="text/css">
    table td {
        text-align: center;
    }
</style>

<?php
$con = mysqli_connect("localhost", "root", "", "hrsdb");
if (!empty($_POST)) {
    $book_id = (int)$_POST["book_id"];
    $sql = "UPDATE booking SET status = 'Cancelled' WHERE booking_id = $book_id";
    $con->query($sql);
}

$username = $_SESSION['login_user'];
$search_Query = "SELECT customer.cust_id, booking.booking_id, customer.firstname, customer.lastname, customer.phone, booking.roomtype,
					    booking.checkindate, booking.checkoutdate, booking.amount, booking.status
			     FROM customer					 
			     INNER JOIN booking ON customer.cust_id = booking.cust_id
				 WHERE booking.cust_id = (SELECT cust_id FROM customer WHERE username='$username') 
				 ORDER BY booking.status DESC";

$search_Result = mysqli_query($con, $search_Query);
?>

<body>
<nav class="navbar navbar-expand-lg mb-4 top-bar navbar-static-top sps sps--abv">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto" href="#">Grand Seasons</a>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="home.php">Home <span class="sr-only">(current)</span></a></li>               
                <li class="nav-item"><a class="nav-link" href="home.php #benefits">Accommodation</a></li>
                <li class="nav-item" https://s.bootsnipp.com/iframe/NjR9z#blog> <a class="nav-link" href="home.php #about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="facilities.php #benefits">Facilities</a></li>
                <?php if ($_SESSION["is_login"] == true): ?>
                    <li class="nav-item active"><a class="nav-link" href="bookingSummary.php #benefits">My Booking</a></li>
                    <li class="nav-item"><a class="nav-link" href="logout.php">Logout</a></li>
                <?php else : ?>
                    <li class="nav-item"><a class="nav-link" href="login.php">Login</a></li>
                <?php endif; ?>
            </ul>
        </div>
    </div>
</nav>

<!-- Swiper Silder -->
<!-- Slider main container -->
<!-- <div class="swiper-container main-slider" id="myCarousel">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-bg-position" style="background:url('hotel_image/view.jpg')" data-hash="slide1">
            <h2>Premier business hotel located in the heart of the city</h2>
        </div>
    </div>
</div> -->

<!-- Benefits ================================================== -->
<!-- <section class="service-sec" id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2 align="left">Booking Summary</h2>
                </div>

                <table border=1px width="100%">
                    <tr>
                        <th style="text-align:center">No.</th>
                        <th style="text-align:center">Customer ID</th>
                        <th style="text-align:center">Booking ID</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Phone Number</th>
                        <th style="text-align:center">Room Type</th>
                        <th style="text-align:center">Check in date</th>
                        <th style="text-align:center">Check out date</th>
                        <th style="text-align:center">Amount</th>
                        <th style="text-align:center">Status</th>
						<th style="text-align:center">-</th>
                    </tr>

                    <?php $bil = 1;
                    while ($row = mysqli_fetch_array($search_Result)): ?>
                        <tr>
                            <td><?= $bil ?></td>
                            <td><?= $row["cust_id"] ?></td>
                            <td><?= $row["booking_id"] ?></td>
                            <td><?= $row["firstname"] ?> <?= $row["lastname"] ?></td>
                            <td><?= $row["phone"] ?></td>
                            <td><?= $row["roomtype"] ?></td>
                            <td><?= $row["checkindate"] ?></td>
                            <td><?= $row["checkoutdate"] ?></td>
                            <td><?= $row["amount"] ?></td>
                            <td><?= $row["status"] ?></td>
                            <?php if ($row["status"] == "Pending"): ?>
                                <td>
                                    <!-- <button type="button" class="btn btn-danger" 
										    onclick="post('/HRS/bookingSummary.php',{book_id:'<?= $row["booking_id"] ?>'})">Cancel
                                    </button> -->
                                <!-- </td>
                            <?php endif; ?>
                            <?php $bil++; ?>
                        </tr>
                    <?php endwhile; ?>
                </table>
            </div>
        </div>
    </div>
</section> -->
<!-- </body> --> -->

<!-- <script>
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script> -->

<!-- </html>     
       -->